body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 100%;
  padding: 0 15px;
}
.item {
  width: 100%;
  display: block;
  margin-bottom: 5%;
}
.list {
  width: 100%;
  margin: 0 auto;
  list-style: none;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
 
}
 @media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
  .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
  .item {
    width: 47%;
}
.item:nth-child(2n) {
  margin-left: 4%;
}
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .item:nth-child(2n) {
    margin-left: 0%;
  }
  .item {
    width: 31%;
    margin-right: 3%;
}
.item:nth-child(3n +3) {
  margin-right: 0;
}
  
}
/*@media screen and (max-width: 767px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .item {
    width: 90%;
}

}

.item {
    width: 300px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.item:nth-child(3n + 3) {
    margin-right: 0px;
  } */
  img {
    width: 100%;
  }